body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* timer styles */
span.time-setter-title {
  display: inline-block;
  min-width: 215px;
}

span.time-setter-title,
span.time-setter-val {
  font-size: 18px;
}

span.time-setter-val {
  display: inline-block;
  min-width: 22px;
  margin: 0 3px;
  text-align: right;
}

span.time-setter-title.disabled,
span.time-setter-val.disabled {
  color: gray;
}

.time-category {
  display: inline-block;
  padding-right: 5px;
  min-width: 85px;
}

.control-btn-wrapper {
  margin: 15px 0;
}
.control-btn-wrapper button {
  margin: 0 5px;
}
.control-btn-wrapper button:first-of-type,
.control-btn-wrapper button:last-of-type {
  margin: 0;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  background-color: #ccdffc;
  display: inline-block;
}

button:active {
  background-color: #91bdff;
}

button:disabled {
  color: #9f9f9f;
  background-color: #dcdcdc;
}

.control-btn-wrapper > button {
  padding: 12px;
  background-color: #dcdcdc;
  font-size: 16px;
}

.control-btn-wrapper button.start,
.control-btn-wrapper button.resume {
  background-color: #8dd9a5;
}

.control-btn-wrapper button.pause {
  background-color: #e3e371;
}

.control-btn-wrapper button.reset {
  background-color: #fa7070;
}

.control-btn-wrapper button.fast-forward {
  background-color: #a4a5f5;
}

.control-btn-wrapper button.start,
.control-btn-wrapper button.pause,
.control-btn-wrapper button.resume {
  min-width: 86px;
}

.control-btn-wrapper button:disabled {
  background-color: #dcdcdc;
}

.interval-wrapper {
  margin-bottom: 10px;
}

/* fix for mobile devices */
@media (max-width: 420px) {
  span.time-setter-title {
    min-width: 185px;
  }
}

.main-wrap {
  overflow: hidden;
  background-color: #f0f6fb;
  position: fixed;
  top: 0;
  width: 100%;
}

.control-btn-wrapper {
  margin: 10px 15px;
  width: 285px;
}

.timer-wrapper {
  position: relative;
  width: 260px;
}

.timer-wrapper.isActive > div {
  border: 2px solid red;
}

.x {
  position: absolute;
  top: 15px;
  right: 14px;
  background-color: #fac384;
}

.x:focus {
  background-color: #fac384;
}

.t-total,
.t-remaining {
  position: fixed;
  top: 110px;
  font-size: 22px;
}

.t-total {
  left: 60px;
}

.t-remaining {
  left: 35px;
}

.add-timer {
  position: fixed;
  top: 70px;
  left: 102px;
}

.add-timer-wrapper {
  margin-top: 0;
}

button.documentation,
button.to-workout {
    position: fixed;
    top: 10px;
    right: 15px;
}
